{% extends 'base.html' %}
{% load static %}

{% block title_page %}{% endblock %}

{% block style-libs %}{% endblock %}

{% block style %}{% endblock %}

{% block content %}

    <div class="gray__body">
        <div class="container">
            <div class="faq__wrap">
                {% include 'components/faq-sidebar/faq-sidebar.html' %}
                <div class="faq__main">
                    <div class="faq__question">
                        <h3 class="question__title">
                            Как правильно заказывать?
                        </h3>
                        <div class="faq__accordion">
                            <div class="accordion__item">
                                <h4 class="accordion__title">
                                    Как правильно заказывать?
                                </h4>
                                <p class="accordion__answer">
                                    Альбе́рт Эйнште́йн — физик-теоретик, один из основателей современной теоретической
                                    физики,
                                    лауреат Нобелевской премии по физике 1921 года,
                                </p>
                            </div>
                            <div class="accordion__item">
                                <h4 class="accordion__title">
                                    Как правильно заказывать?
                                </h4>
                                <p class="accordion__answer">
                                    Альбе́рт Эйнште́йн — физик-теоретик, один из основателей современной теоретической
                                    физики,
                                    лауреат Нобелевской премии по физике 1921 года,
                                </p>
                            </div>
                            <div class="accordion__item">
                                <h4 class="accordion__title">
                                    Как правильно заказывать?
                                </h4>
                                <p class="accordion__answer">
                                    Альбе́рт Эйнште́йн — физик-теоретик, один из основателей современной теоретической
                                    физики,
                                    лауреат Нобелевской премии по физике 1921 года,
                                </p>
                            </div>
                            <div class="accordion__item">
                                <h4 class="accordion__title">
                                    Как правильно заказывать?
                                </h4>
                                <p class="accordion__answer">
                                    Альбе́рт Эйнште́йн — физик-теоретик, один из основателей современной теоретической
                                    физики,
                                    лауреат Нобелевской премии по физике 1921 года,
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="faq__question">
                        <h3 class="question__title">
                            Как правильно заказывать?
                        </h3>
                        <div class="faq__accordion">
                            <div class="accordion__item">
                                <h4 class="accordion__title">
                                    Как правильно заказывать?
                                </h4>
                                <p class="accordion__answer">
                                    Альбе́рт Эйнште́йн — физик-теоретик, один из основателей современной теоретической
                                    физики,
                                    лауреат Нобелевской премии по физике 1921 года,
                                </p>
                            </div>
                            <div class="accordion__item">
                                <h4 class="accordion__title">
                                    Как правильно заказывать?
                                </h4>
                                <p class="accordion__answer">
                                    Альбе́рт Эйнште́йн — физик-теоретик, один из основателей современной теоретической
                                    физики,
                                    лауреат Нобелевской премии по физике 1921 года,
                                </p>
                            </div>
                            <div class="accordion__item">
                                <h4 class="accordion__title">
                                    Как правильно заказывать?
                                </h4>
                                <p class="accordion__answer">
                                    Альбе́рт Эйнште́йн — физик-теоретик, один из основателей современной теоретической
                                    физики,
                                    лауреат Нобелевской премии по физике 1921 года,
                                </p>
                            </div>
                            <div class="accordion__item">
                                <h4 class="accordion__title">
                                    Как правильно заказывать?
                                </h4>
                                <p class="accordion__answer">
                                    Альбе́рт Эйнште́йн — физик-теоретик, один из основателей современной теоретической
                                    физики,
                                    лауреат Нобелевской премии по физике 1921 года,
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}{% endblock %}