{% extends 'base.html' %}
{% load static %}

{% block title_page %}
    sign
{% endblock %}

{% block page %}sign-page{% endblock %}

{% block body-class %}sign-body{% endblock %}

{% block style-libs %}{% endblock %}

{% block style %}{% endblock %}

{% block content %}


                <form action="" method="POST">
                    {% csrf_token %}
                {{ form }}
                    <button type="submit">adsf</button>
                </form>

{% endblock %}

{% block scripts %}
    <script>
        $(document).on('change keyup', '.required', function () {
            var isValidInput = false;

            $(".swiper-slide-active .required").each(function () {
                if (this.value === '') {
                    return isValidInput = false;
                } else {
                    isValidInput = true;
                }
            });
            console.log(isValidInput)
            $(this).siblings('.sign__btn').prop("disabled", !isValidInput);
        })
    </script>

    <script>
        $(function () {
            var newSwiper = new Swiper('.registration-slider', {
                navigation: {
                    nextEl: '.sign__btn',
                    prevEl: '.reg__prev',
                },
                spaceBetween: 300,
            });
            newSwiper.allowTouchMove = false

            var swiper = new Swiper('.reg__right-slider', {
                effect: 'fade',
                navigation: {
                    nextEl: '.sign__btn',
                    prevEl: '.reg__prev',
                },
            });
            swiper.allowTouchMove = false
        })
    </script>
    <script>
        $(function () {
            $('.file__input-wrap input[type=file]').change(function () {
                $(this).siblings('.file__upload').val(this.files[0].name);
            });
        })
    </script>
{% endblock %}