
{% extends 'base.html' %}
{% load static %}

{% block title_page %}
    sign
{% endblock %}

{% block page %}sign-page{% endblock %}

{% block body-class %}sign-body{% endblock %}

{% block style-libs %}{% endblock %}

{% block style %}{% endblock %}

{% block content %}

    <div class="sign sign__flex">
        <div class="sign__wrap">
            <div class="sign__inner">
                <div class="sign__head">
                    <div class="sign__logo">
                        <img src="{% static 'img/png/logo.png' %}" alt="">
                    </div>
                </div>
                <h2 class="sign__title">
                    Смена пароля
                </h2>
                <form action="." method="POST">
                    {% csrf_token %}
                    <div class="fields {% if form.non_field_errors %}error{% endif %}">
                        <label for="sign-password" class="sign__label">
                            Новый пароль
                        </label>
                        <div class="sign__input-wrap">
                            {{ form.password }}
                            <div class="sign__eye"></div>

                        </div>
                         {# password-errors #}
                                {% if form.non_field_errors %}
                                {% for error in form.non_field_errors %}
                                <p class="email__error" id="reg-password-error">
                                 {{error}}
                                </p>
                                {% endfor %}
                                {% endif %}
                    </div>
                    <div class="fields {% if form.password2.errors %}error{% endif %}">
                        <label for="sign-password" class="sign__label">
                            Повторите новый пароль
                        </label>
                        <div class="sign__input-wrap">
                            {{ form.password2 }}
                            <div class="sign__eye"></div>

                        </div>
                        {% if form.password2.errors %}
                                <p class="email__error" id="reg-repeat-password-error">
                                 {% for error in form.password2.errors %}
                                 {{error}}
                                 {% endfor %}
                                </p>
                        {% endif %}
                    </div>
                    <button type="submit" class="sign__btn">
                        Сменить пароль
                    </button>
                </form>
            </div>
        </div>
        <div class="sign__img">
            <img src="{% static 'img/png/delivery.png' %}" alt="">
        </div>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}