{% extends 'base.html' %}
{% load static %}

{% block title_page %}{% endblock %}

{% block style-libs %}{% endblock %}

{% block style %}{% endblock %}

{% block content %}

    <div class="gray__body">
        <div class="container">
            <div class="faq__wrap">
                <div class="shop__wrap">
                    <div class="shop__head">
                        <h2 class="shop__title">
                            Магазины
                        </h2>
                        <div class="shop__filter">
                            <a href="#" class="filter__item active">
                                Все
                            </a>
                            <a href="#" class="filter__item">
                                США
                            </a>
                            <a href="#" class="filter__item">
                                Турция
                            </a>
                            <a href="#" class="filter__item">
                                Корея
                            </a>
                            <a href="#" class="filter__item">
                                Китай
                            </a>
                            <a href="#" class="filter__item">
                                Турция
                            </a>
                            <a href="#" class="filter__item">
                                Корея
                            </a>
                            <a href="#" class="filter__item">
                                Китай
                            </a>
                            <div class="filter__item">
                                +4
                            </div>
                        </div>
                    </div>
                    <div class="shop__grid">
                        <div class="grid__item">
                            <div class="shop__img">
                                <img src="{% static 'img/png/delivery.png' %}" alt="">
                            </div>
                            <div class="grid__item-info">
                                <div class="shop__item-head">
                                    <div class="shop__item-img">
                                        <img src="{% static 'img/png/nike.png' %}" alt="">
                                    </div>
                                    <h5 class="shop__item-ttl">
                                        Apple
                                    </h5>
                                </div>
                                <p class="shop__item-text">
                                    Apple — американская корпорация, производитель персональных и планшетных
                                    компьютеров,
                                    аудиоплееров, смартфонов
                                </p>
                            </div>
                        </div>
                        <div class="grid__item">
                            <div class="shop__img">
                                <img src="{% static 'img/png/delivery.png' %}" alt="">
                            </div>
                            <div class="grid__item-info">
                                <div class="shop__item-head">
                                    <div class="shop__item-img">
                                        <img src="{% static 'img/png/nike.png' %}" alt="">
                                    </div>
                                    <h5 class="shop__item-ttl">
                                        Apple
                                    </h5>
                                </div>
                                <p class="shop__item-text">
                                    Apple — американская корпорация, производитель персональных и планшетных
                                    компьютеров,
                                    аудиоплееров, смартфонов
                                </p>
                            </div>
                        </div>
                        <div class="grid__item">
                            <div class="shop__img">
                                <img src="{% static 'img/png/delivery.png' %}" alt="">
                            </div>
                            <div class="grid__item-info">
                                <div class="shop__item-head">
                                    <div class="shop__item-img">
                                        <img src="{% static 'img/png/nike.png' %}" alt="">
                                    </div>
                                    <h5 class="shop__item-ttl">
                                        Apple
                                    </h5>
                                </div>
                                <p class="shop__item-text">
                                    Apple — американская корпорация, производитель персональных и планшетных
                                    компьютеров,
                                    аудиоплееров, смартфонов
                                </p>
                            </div>
                        </div>
                        <div class="grid__item">
                            <div class="shop__img">
                                <img src="{% static 'img/png/delivery.png' %}" alt="">
                            </div>
                            <div class="grid__item-info">
                                <div class="shop__item-head">
                                    <div class="shop__item-img">
                                        <img src="{% static 'img/png/nike.png' %}" alt="">
                                    </div>
                                    <h5 class="shop__item-ttl">
                                        Apple
                                    </h5>
                                </div>
                                <p class="shop__item-text">
                                    Apple — американская корпорация, производитель персональных и планшетных
                                    компьютеров,
                                    аудиоплееров, смартфонов
                                </p>
                            </div>
                        </div>
                        <div class="grid__item">
                            <div class="shop__img">
                                <img src="{% static 'img/png/delivery.png' %}" alt="">
                            </div>
                            <div class="grid__item-info">
                                <div class="shop__item-head">
                                    <div class="shop__item-img">
                                        <img src="{% static 'img/png/nike.png' %}" alt="">
                                    </div>
                                    <h5 class="shop__item-ttl">
                                        Apple
                                    </h5>
                                </div>
                                <p class="shop__item-text">
                                    Apple — американская корпорация, производитель персональных и планшетных
                                    компьютеров,
                                    аудиоплееров, смартфонов
                                </p>
                            </div>
                        </div>
                        <div class="grid__item">
                            <div class="shop__img">
                                <img src="{% static 'img/png/delivery.png' %}" alt="">
                            </div>
                            <div class="grid__item-info">
                                <div class="shop__item-head">
                                    <div class="shop__item-img">
                                        <img src="{% static 'img/png/nike.png' %}" alt="">
                                    </div>
                                    <h5 class="shop__item-ttl">
                                        Apple
                                    </h5>
                                </div>
                                <p class="shop__item-text">
                                    Apple — американская корпорация, производитель персональных и планшетных
                                    компьютеров,
                                    аудиоплееров, смартфонов
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="shop__more-wrap">
                        <a href="#" class="shop__more">
                            Больше Магазинов!
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
{% endblock %}